.main {
  display: flex;
}

.main button {
  background-color:#DECEFF;
  cursor: pointer;
  border-radius: 5px;
  color: #4C249F;
  width: 150px;
  height: 40px;
  font-weight: bold;
  border: none;
}
/****#35F0D0;*/
