.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.background {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
}