.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.background {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.control{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.panel{
  display: flex;
  flex-direction: row;
  gap: 10px;
}


.panel button {
  background-color:#DECEFF;
  cursor: pointer;
  border-radius: 5px;
  color: #4C249F;
  width: 150px;
  height: 40px;
  font-weight: bold;
  border: none;
}
/****#35F0D0;*/

.welcome {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #DECEFF;
  font-weight: 800;
  font-size: xx-large;
}

.welcome span {
  color: rgb(179, 38, 184);
}

.balance{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.balance p{
  font-weight: 800;
  font-size: large;
  color: rgb(179, 38, 184);
}
.balance span{
  font-weight: 700;
  font-size: xx-large;
  color: #DECEFF;
}

.deposit button {
  background-color:#35F0D0;
  cursor: pointer;
  border-radius: 5px;
  color: #4C249F;
  width: 150px;
  height: 40px;
  font-weight: bold;
  border: none;
}
/****#35F0D0;*/