.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.background {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
}


.welcome {
  display: flex;
  text-align: center;
  color: #DECEFF;
}

.workings {
  display: flex;
  gap: 25px;
  
}

.working {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #DECEFF;
}

.working h4 {
  color: rgb(179, 38, 184);
}

.action {
  display: flex;
  text-align: center;
  color: rgb(179, 38, 184);
  font-size: large;
  font-weight: 600;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

