.main {
  position: fixed;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.069);
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(0.666px);
}
.wrapper {
  padding: 50px;
  background: #DECEFF;
  border-radius: 25px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 600px;
  position: relative;
}

.close{
  position: absolute;
  cursor: pointer;
  padding: 20px;
  top: 0;
  right: 0;
}