.main {
  position: fixed;
  display: flex;
  flex-direction: column;
  color: #4C249F;
  background-color: rgba(0, 0, 0, 0.069);
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(0.666px);
}
.wrapper {
  padding: 50px;
  background: #DECEFF;
  border-radius: 25px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 600px;
  position: relative;
}

.close{
  position: absolute;
  cursor: pointer;
  padding: 20px;
  top: 0;
  right: 0;
}

.modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.modal form{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modal label{
  font-weight: 700;
  font-size: small;
}


.modal input{
  height: 40px;
  width: 180px;
  border-radius: 10px;
  padding: 5px 15px;
  font-family: 'Segoe UI';
  font-weight: 700;
  font-size: medium;
  text-align: right;
}

.modal select{
  height: 40px;
  width: 180px;
  border-radius: 10px;
  padding: 5px 15px;
  font-family: 'Segoe UI';
  font-weight: 700;
  font-size: medium;
  text-align: right;
}
.modal button {
  background-color:#4C249F;
  cursor: pointer;
  border-radius: 5px;
  color: #35F0D0;
  width: 150px;
  height: 40px;
  font-weight: bold;
  border: none;
}
/****#35F0D0;*/

